h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

:root {
    --light-color: #F5F5F7;
    --dark-color: #221F20;
    --container-padding-inline: 13%;
    --footer-padding-inline: 10%;

    @media screen and (max-width: 768px) {
        --container-padding-inline: 6%;
        --footer-padding-inline: 6%;
    }

    @media screen and (max-width: 576px) {
        --container-padding-inline: 15px;
        --footer-padding-inline: 15px;
    }
}

html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

.container {
    padding: 0 var(--container-padding-inline);
}

.title {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: normal;
    color: var(--dark-color);

    span {
        position: relative;
    }

    span::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        right: 0;
        width: 75px;
        height: 2px;
        background-color: #000;

    }

    @media screen and (max-width: 768px) {
        & {
            font-size: 36px;
        }
    }

    @media screen and (max-width: 576px) {
        font-size: 24px;
    }
}

.promo {
    position: relative;
    min-height: 100vh;
    background: url(../img/main_bg.jpg) center center / cover no-repeat;
    padding-top: 75px;

    @media screen and (max-width: 768px) {
        & {
            background-image: url(../img/table_bg.jpg);
        }
    }

    @media screen and (max-width: 576px) {
        min-height: 500px;
        padding-top: 50px;
    }
}

.promo__title {
    font-weight: 400;
    font-size: 60px;
    line-height: normal;
    text-transform: uppercase;
    color: var(--light-color);

    @media screen and (max-width: 768px) {
        font-size: 48px;
    }

    @media screen and (max-width: 576px) {
        font-size: 26px;
    }
}

.promo__subtitle {
    margin-top: 124px;
    font-weight: 100;
    font-size: 32px;
    line-height: normal;
    color: var(--light-color);

    @media screen and (max-width: 768px) {
        & {
            margin-top: 80px;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            margin-top: 30px;
            font-size: 16px;
        }
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
    padding: 3px 10px;
    border: 1px solid var(--light-color);
    width: 160px;
    min-height: 38px;
    font-weight: 100;
    font-size: 16px;
    line-height: normal;
    color: var(--light-color);
    background: rgba(217, 217, 217, 0);
    cursor: pointer;
    transition: all 0.3s ease-out;

    @media screen and (max-width: 576px) {
        font-size: 14px;
        width: 120px;
        min-height: 30px;
    }
}

.btn:hover {
    font-weight: 500;
    box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.62);
}

.promo__address {
    position: relative;
    margin-top: 100px;
    font-weight: 100;
    font-size: 16px;
    line-height: normal;
    color: var(--light-color);

    address {
        font-style: normal;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    &::before {
        position: absolute;
        left: -45px;
        bottom: 25px;
        content: '';
        display: block;
        height: 49px;
        width: 40px;
        background: url(../icons/Arrow.svg) center center / cover no-repeat;
    }

    @media screen and (max-width: 768px) {
        &::before {
            left: -40px;
        }

        & {
            margin-top: 80px;
        }
    }

    @media screen and (max-width: 750px) {
        &::before {
            display: none;
        }
    }

    @media screen and (max-width: 576px) {
        margin-top: 223px;
    }
}

.keywords {
    position: absolute;
    bottom: 0;
    padding: 0 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.2) 100%);

    li {
        list-style-type: none;
        font-weight: 100;
        font-size: 10px;
        line-height: normal;
        color: var(--light-color);
    }

    @media screen and (max-width: 1440px) {
        & {
            padding: 0 20px;
        }
    }

    @media screen and (max-width: 768px) {

        /* & li {
            display: none;
        }

        & li:nth-child(-n + 9) {
            display: list-item;
        } */
        & li:nth-last-child(-n + 6) {
            display: none;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            margin-top: 10px;
        }

        & li:nth-last-child(-n + 11) {
            display: none;
        }
    }
}

.about {
    padding-top: 80px;
    background-color: var(--light-color);

    @media screen and (max-width: 576px) {
        & {
            padding-top: 50px;
        }
    }
}

.about__title {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: normal;
    color: var(--dark-color);
}

.about__text {
    margin-top: 20px;
    width: 1100px;
    font-weight: 400;
    font-size: 40px;
    line-height: normal;
    color: var(--dark-color);

    span {
        color: #a5a5a5;
    }

    @media screen and (max-width: 1440px) {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        & {
            font-size: 24px;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            font-size: 16px;
        }
    }
}

.services {
    margin-top: 80px;
    display: flex;
    column-gap: 10px;

    @media screen and (max-width: 768px) {
        & {
            display: block;
            margin-top: 40px;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            margin-top: 20px;
        }
    }
}

.services__items {
    width: 50%;

    ul {
        margin-top: 20px;
        padding: 0;

        li {
            position: relative;
            margin-top: 10px;
            font-weight: 400;
            font-size: 16px;
            line-height: normal;
            color: var(--dark-color);
            list-style-type: none;

            &:first-child::before {
                position: absolute;
                left: -30px;
                top: 2px;
                content: '';
                display: block;
                height: 15px;
                width: 15px;
                background: url(../icons/Camera.svg) center center / cover no-repeat;
            }

            &:nth-child(3)::before {
                position: absolute;
                left: -30px;
                top: 2px;
                content: '';
                display: block;
                height: 15px;
                width: 15px;
                background: url(../icons/Edit.svg) center center / cover no-repeat;
            }
        }
    }

    @media screen and (max-width: 768px) {
        & {
            width: 100%;
        }
    }

    @media screen and (max-width: 576px) {
        & li {
            font-size: 12px;
            margin-top: 5px;
        }
    }
}

.services__items_subtitle {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: var(--dark-color);

    @media screen and (max-width: 576px) {
        & {
            font-size: 12px;
        }
    }
}

.services__text {
    width: 50%;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.02em;
    color: var(--dark-color);

    @media screen and (max-width: 768px) {
        & {
            width: 100%;
            margin-top: 40px;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            font-size: 12px;
            margin-top: 20px;
        }
    }
}

.works {
    padding-top: 80px;
    background-color: var(--light-color);

    @media screen and (max-width: 768px) {
        & {
            padding-top: 50px;
        }
    }
}

.works__grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 1.5fr;
    gap: 50px 30px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    }

    @media screen and (max-width: 768px) {
        & {
            gap: 30px 20px;
            margin-top: 40px;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr) 1.5fr;
            column-gap: 0px;
            row-gap: 30px;
        }
    }
}

.inspiration {
    padding-top: 80px;
    background-color: var(--light-color);

    @media screen and (max-width: 768px) {
        padding-top: 50px;
    }
}

.inspiration__grid {
    margin-top: 53px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    /* grid-auto-columns: 1fr;
    grid-auto-rows: minmax(1fr, auto); */

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    }

    @media screen and (max-width: 1024px) {
        margin-top: 43px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 30px 20px;
    }

    @media screen and (max-width: 576px) {
        margin-top: 43px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr) 2.1fr 1fr 0.5fr;
        column-gap: 0px;
        row-gap: 20px;
    }
}

#tenement {
    grid-column: 4/5;
    grid-row: 1/3;

    @media screen and (max-width: 1024px) {
        grid-column: 2/3;
        grid-row: 2/4;
    }

    @media screen and (max-width: 576px) {
        grid-column: 1/1;
        grid-row: 4/5;
    }
}

#sky {
    grid-column: 2/4;
    grid-row: 2/3;

    @media screen and (max-width: 1024px) {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    @media screen and (max-width: 576px) {
        grid-column: 1/2;
        grid-row: 6/7;
    }
}

.customers {
    padding: 80px 0 100px 0;
    background-color: var(--light-color);

    @media screen and (max-width: 768px) {
        padding: 50px 0 50px 0;
    }
}

.customers__logos {
    margin-top: 53px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    img {
        width: calc((100% - 90px) / 4);
        box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.25);
    }

    @media screen and (max-width: 1024px) {
        & {
            margin-top: 43px;
            gap: 20px;
        }

        & img {
            width: calc((100% - 60px) / 3);
        }
    }

    @media screen and (max-width: 768px) {
        & {
            margin-top: 43px;
            gap: 20px;
        }

        & img {
            width: calc((100% - 60px) / 4);
        }
    }

    @media screen and (max-width: 576px) {
        & {
            gap: 20px 36px;
            justify-content: space-between;
        }

        & img {
            width: calc((100% - 36px) / 2);
        }
    }
}

.footer {
    padding: 84px var(--footer-padding-inline);
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    color: var(--light-color);

    @media screen and (max-width: 900px) {
        column-gap: 30px;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 30px;
        padding: 30px var(--footer-padding-inline) 40px var(--footer-padding-inline);
    }

    @media screen and (max-width: 576px) {
        align-items: center;
    }
}

.footer__address {
    font-style: normal;

    @media screen and (max-width: 576px) {
        order: 1;
    }
}

.footer__tel {
    color: var(--light-color);
    text-decoration: none;
}

.footer__icons {
    display: flex;
    padding-left: 0;
    column-gap: 30px;

    li {
        list-style-type: none;
        width: 32px;
        height: 32px;
        border: 1px solid var(--light-color);
        background: rgba(217, 217, 217, 0);

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: #fff;


            /* img {
                width: 22px;
                height: 22px;
            } */
        }

    }
}